body{
    background-image: url(hatter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #504033;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: large;
    margin-right: 250px;
    margin-left: 250px;
    line-height: 150%;
    background-size: cover;
    height: 100%;
}

.keret{
    background-color: rgb(255, 255, 255,80%);
    padding: 15px;

}

h1, h2{
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;

}

p{
    text-indent: 25px;
}

#emlek{
    width: 180px;
    float: left;
    margin-right: 15px;
    border: 15px;
    border-color: #504033;
    border-style: ridge;
}

.paprika{
    height: 300px;
    float: left;

}

ul{
    list-style-image: url(dot.png);
    font-style: italic;

}

hr{
    width: 90%;
    height: 5px;
    background-color: #504033;
    box-shadow: 0 2px 2px black;
}